{% extends 'AdMain.html' %}

{% load bootstrap %}

{% load static %}

{% block title_link %}
    <title>NamasteDaju Restaurant Gallery</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/AdNavbar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/AdReservation.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {% include 'AdNavbar.html' %}
    <div class="container-fluid d-flex flex-column px-0" id="AdReservation">
        <div class="container-fluid d-flex justify-content-center pb-sm-5" id="ARH">
          <h1>NamasteDaju Restaurant Reservation</h1>
        </div>      
        <h1 class="text-center" id="Uch1">Uncompleted</h1>
        <div class="table-responsive" id="UcTable">
            <table class="table table-striped" id="Images">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Person</th>
                        <th>Reserved Date</th>
                        <th>Mark as Completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in key %}
                    {% if i.completion == False %}
                    <tr  class="table-warning">                        
                        <td>{{i.firstname}}</td>
                        <td>{{i.lastname}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.time}}</td>
                        <td>{{i.person}}</td>
                        <td>{{i.reserved_date}}</td>
                        <td>
                            <a href="/Ad/completereservation/{{i.id}}" class="btn btn-success mr-4">Completed</a>
                        </td>                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h1 class="text-center  mt-5" id="Ch1">Completed</h1>
        <div class="table-responsive" id="CTable">
            <table class="table table-striped" id="Images">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Person</th>
                        <th>Reserved Date</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in key %}
                    {% if i.completion == True %}
                    <tr class="table-success">
                        <td>{{i.firstname}}</td>
                        <td>{{i.lastname}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.time}}</td>
                        <td>{{i.person}}</td>
                        <td>{{i.reserved_date}}</td>
                        <td>
                            <a href="/Ad/deletereservation/{{i.id}}" class="btn btn-danger mr-4">Delete</a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center py-2 mt-3" id="Copyright">
        <p>Copyright ©2021 All rights reserved. Design by <a href="#">Gauri Shankar Sharma</a></p>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/AdNavbar.js' %}"></script>
{% endblock %}