{% extends 'AdMain.html' %}

{% load bootstrap %}

{% load static %}

{% block title_link %}
    <title>NamasteDaju Restaurant Stories</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/AdNavbar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/AdStories.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {% include 'AdNavbar.html' %}
    <div class="container-fluid d-flex flex-column px-0" id="AdStories">
        <div class="container-fluid d-flex justify-content-center pb-sm-5" id="ASH">
          <h1>NamasteDaju Restaurant Stories</h1>
        </div>   
        <div class="container d-flex justify-content-center py-4">
            <button class="btn px-4" onclick="show()" id="ASB">Open Story Form</button>
        </div>        
        <div class="container mb-5" id="Form">
            <div class="card p-4" id="Card">
                <span class="fa fa-times" onclick="hide()" id="Cs"></span>
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <h4 class="success_message mb-4 text-center">{{message}}</h4>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <h4 class="error_message mb-4 text-center">{{message}}</h4>
                    {% endif %}
                {% endfor %}
                <form class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | bootstrap_horizontal }}
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn px-4">{{action}} Story</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container d-flex justify-content-center pb-5" id="Search">
            <div class="card p-4" id="Card">
                <form class="form" method="GET">
                    {{stories_filter.form}}
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn px-4 py-1 mr-2">Search</button>
                        <a href="/Ad/ad_stories" type="button"  class="btn px-4 py-1" id="ASB">Show All</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive" id="Table">
            <table class="table table-striped" id="Images">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Uploaded Date</th>
                        <th class="text-center">Detail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for i in key %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td><img src="/{{i.image}}"/></td>
                            <td>{{i.uploaded_date}}</td>
                            <td class="tdd">{{i.detail}}</td>
                            <td>
                                <a href="/Ad/updatestory/{{i.id}}" class="btn btn-warning mr-4">Edit</a>
                                <a href="/Ad/deletestory/{{i.id}}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this story?')">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="container-fluid d-flex justify-content-center py-2 mt-3" id="Copyright">
        <p>Copyright ©2021 All rights reserved. Design by <a href="#">Gauri Shankar Sharma</a></p>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/AdNavbar.js' %}"></script>
        <script src="{% static 'js/AdStories.js' %}"></script>
{% endblock %}