{% extends 'AdMain.html' %}

{% load bootstrap %}

{% load static %}

{% block title_link %}
    <title>NamasteDaju Restaurant Message</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/AdNavbar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/Message.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {% include 'AdNavbar.html' %}
    <div class="container-fluid d-flex flex-column px-0" id="AdMessage">
        <div class="container-fluid d-flex justify-content-center pb-sm-5" id="AMH">
          <h1>Messages From Users</h1>
        </div>                
        <div class="container d-flex justify-content-center py-5" id="Search">
            <div class="card p-4" id="Card">
                <form class="form" method="GET">
                    {{message_filter.form}}
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn px-4 py-1 mr-2">Search</button>
                        <a href="/Ad/message" type="button"  class="btn px-4 py-1" id="UB">Show All</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive" id="Table">
            <table class="table table-striped" id="Images">
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Subject</th>
                        <th class="text-center">messages</th>
                        <th>Messaged Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in key %}
                    <tr>                        
                        <td>{{i.username}}</td>
                        <td>{{i.subject}}</td>
                        <td class=".tdd">{{i.messages}}</td>
                        <td>{{i.messaged_date}}</td>
                        <td>
                            <a href="/Ad/deletemessage/{{i.id}}" class="btn btn-danger mr-4">Delete</a>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center py-2 mt-3" id="Copyright">
        <p>Copyright ©2021 All rights reserved. Design by <a href="#">Gauri Shankar Sharma</a></p>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/AdNavbar.js' %}"></script>
{% endblock %}