{% extends 'AdMain.html' %}

{% load bootstrap %}

{% load static %}

{% block title_link %}
    <title>NamasteDaju Restaurant Gallery</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/AdNavbar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/User.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {% include 'AdNavbar.html' %}
    <div class="container-fluid d-flex flex-column px-0" id="USer">
        <div class="container-fluid d-flex justify-content-center mb-4" id="UH">
          <h1>NamasteDaju Restaurant Users</h1>
        </div>    
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h4 class="success_message py-4 text-center">{{message}}</h4>
            {% endif %}
        {% endfor %}         
        <div class="container d-flex justify-content-center pb-5" id="Search">
            <div class="card p-4" id="Card">
                <form class="form" method="GET">
                    {{user_filter.form}}
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn px-4 py-1 mr-2">Search</button>
                        <a href="/Ad/user" type="button"  class="btn px-4 py-1" id="UB">Show All</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive" id="Table">
            <table class="table table-striped" id="Images">
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in key %}
                    <tr>                        
                        <td> {{ i.username }}</td>
                        <td> {{ i.email }}</td>
                        <td>
                            <a href="/Ad/update_user/{{i.id}}" class="btn btn-warning" onclick="return confirm('Are you sure to make this user admin?')">Update to Admin</a>
                        <td>                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center py-2 mt-3" id="Copyright">
        <p>Copyright ©2021 All rights reserved. Design by <a href="#">Gauri Shankar Sharma</a></p>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/User.js' %}"></script>
{% endblock %}