{% extends 'Main.html' %}

{% load static %}

{% block title_link %}
    <title>NamasteDaju Restaurant Gallery</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/Gallery.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="Front">
        <div class="container-fluid py-4"  id="nav">
            <div class="container" id="navbar">
                <nav class="navbar navbar-expand-lg">
                    <h1><a class="navbar-brand font-weight-bold" href="#">Namaste<span id="navbar_brand_span">Daju</span></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-sm-1">
                              <a class="nav-link font-weight-bold {{home}} header_nav_link" href="/Nd/home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item mx-sm-1">
                              <a class="nav-link font-weight-bold {{menu}} header_nav_link" href="/Nd/menu">Menu</a>
                            </li>
                            <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{gallery}} header_nav_link" href="/Nd/gallery">Gallery</a>
                              </li>
                            <li class="nav-item mx-sm-1">
                              <a class="nav-link font-weight-bold {{stories}} header_nav_link" href="/Nd/stories">Stories</a>
                            </li>
                            <li class="nav-item mx-sm-1">
                              <a class="nav-link font-weight-bold {{reservation}} header_nav_link" href="/Nd/reservation">Reservation</a>
                            </li>
                            <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{catering}} header_nav_link" href="/Nd/catering">Catering</a>
                            </li>
                            <li class="nav-item mx-sm-1">
                              <a class="nav-link font-weight-bold {{contact}} header_nav_link" href="/Nd/contact">Contact</a>
                            </li>
                          </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column justify-content-center" id="HM">
            <div class="container d-flex justify-content-center">
                <h1>Gallery</h1>
            </div>
            <div class="container d-flex justify-content-center">
                <h5><a href="/Nd/home">Home <span class="fa fa-chevron-right"></span> </a> Gallery <span class="fa fa-chevron-right"></span></h5>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column py-5" id="Gallery">
      <div class="container d-flex justify-content-center py-sm-5" id="GH">
        <h1>Our Photo Gallery</h1>
      </div>
      <div class="row mb-5" id="GI">
        {% for i in key %}
        <div class="col-sm mb-4">
          <img class="img" src="/{{i.image}}"/>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/Gallery.js' %}"></script>
{% endblock %}