{% extends 'Main.html' %}

{% load static %}
{% load bootstrap %}

{% block title_link %}
    <title>NamasteDaju Restaurant Menu</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/Menu.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="Front">
        <div class="container-fluid py-4"  id="nav">
            <div class="container" id="navbar">
                <nav class="navbar navbar-expand-lg">
                    <h1><a class="navbar-brand font-weight-bold" href="#">Namaste<span id="navbar_brand_span">Daju</span></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{home}} header_nav_link" href="/">Home <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{menu}} header_nav_link" href="/menu">Menu</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                  <a class="nav-link font-weight-bold {{gallery}} header_nav_link" href="/gallery">Gallery</a>
                                </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{stories}} header_nav_link" href="/stories">Stories</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{reservation}} header_nav_link" href="/reservation">Reservation</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                  <a class="nav-link font-weight-bold {{catering}} header_nav_link" href="/catering">Catering</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{contact}} header_nav_link" href="/contact">Contact</a>
                              </li>
                          </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column justify-content-center" id="HM">
            <div class="container d-flex justify-content-center">
                <h1>Menu</h1>
            </div>
            <div class="container d-flex justify-content-center">
                <h5><a href="/">Home <span class="fa fa-chevron-right"></span> </a> Menu <span class="fa fa-chevron-right"></span></h5>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column py-5" id="Menu">
        <div class="container d-flex justify-content-center pt-5" id="MH">
            <h1>Delicious Food For You</h1>
        </div>
        <div class="container d-flex justify-content-center pb-5" id="Search">
            <div class="card p-4" id="Card">
                <form class="form" method="GET">
                    {{menu_filter.form}}
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn px-4 py-1 mr-3">Search</button>
                        <a href="/menu" type="button"  class="btn px-4 py-1" id="AMB">Show All</a>
                    </div>
                </form>
            </div>
        </div>   
        <div class="container-fluid d-lg-flex flex-row justify-content-between mb-5">
            <div class="container mb-5" id="Breakfast">
                <div class="card d-flex flex-column justify-content-between py-4">
                    <div class="container d-flex flex-row justify-content-center pb-4 MCH">
                        <span class="fas fa-hamburger mr-4"></span>
                        <h1>Breakfast</h1>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mb-4 MCL">
                        {% for i in key %}
                        {% if i.category == "Breakfast" %}
                        <div class="container d-xl-flex flex-row justify-content-between mb-4">
                            <div class="mr-lg-2" id="Image">
                                <img class="img-fluid mb-2" src="/{{i.image}}" alt="pic"/>
                            </div>
                            <div class="container d-flex flex-column" id="Detail">
                                <h3 class="Dh3">{{i.name}}</h3>
                                <p  class="Dp">{{i.description}}</p>
                                <h4 class="Dh4">Rs.{{i.price}}</h4>
                                <div class="row">
                                    <a class="col-5 btn font-weight-bold mt-2 ml-1 mr-3 Da" href="/order/{{i.id}}" onclick="food('{{i.name}}')">Order Now</a>
                                    <a class="col-5 btn font-weight-bold mt-2 Da" href="/ad_to_cart/{{i.id}}" >Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container mb-5" id="Lunch">
                <div class="card d-flex flex-column justify-content-between py-4">
                    <div class="container d-flex flex-row justify-content-center pb-4 MCH">
                        <span class="fas fa-hotdog mr-4"></span>
                        <h1>Lunch</h1>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mb-4 MCL">
                        {% for i in key %}
                        {% if i.category == "Lunch" %}
                        <div class="container d-xl-flex flex-row justify-content-between mb-4">
                            <div class="mr-lg-2" id="Image">
                                <img class="img-fluid mb-2" src="/{{i.image}}" alt="pic"/>
                            </div>
                            <div class="container d-flex flex-column" id="Detail">
                                <h3 class="Dh3">{{i.name}}</h3>
                                <p  class="Dp">{{i.description}}</p>
                                <h4 class="Dh4">Rs.{{i.price}}</h4>
                                <div class="row">
                                    <a class="col-5 btn font-weight-bold mt-2 ml-1 mr-3 Da" href="/order/{{i.id}}" onclick="food('{{i.name}}')">Order Now</a>
                                    <a class="col-5 btn font-weight-bold mt-2 Da" href="/ad_to_cart/{{i.id}}" >Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container mb-5" id="Dinner">
                <div class="card d-flex flex-column justify-content-between py-4">
                    <div class="container d-flex flex-row justify-content-center pb-4 MCH">
                        <span class="fas fa-fish mr-4"></span>
                        <h1>Dinner</h1>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mb-4 MCL">
                        {% for i in key %}
                        {% if i.category == "Dinner" %}
                        <div class="container d-xl-flex flex-row justify-content-between mb-4">
                            <div class="mr-lg-2" id="Image">
                                <img class="img-fluid mb-2" src="/{{i.image}}" alt="pic"/>
                            </div>
                            <div class="container d-flex flex-column" id="Detail">
                                <h3 class="Dh3">{{i.name}}</h3>
                                <p  class="Dp">{{i.description}}</p>
                                <h4 class="Dh4">Rs.{{i.price}}</h4>
                                <div class="row">
                                    <a class="col-5 btn font-weight-bold mt-2 ml-1 mr-3 Da" href="/order/{{i.id}}" onclick="food('{{i.name}}')">Order Now</a>
                                    <a class="col-5 btn font-weight-bold mt-2 Da" href="/ad_to_cart/{{i.id}}" >Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>        
        </div>
        <div class="container-fluid d-lg-flex flex-row justify-content-between mb-5">
            <div class="container mb-5" id="Deserts">
                <div class="card d-flex flex-column justify-content-between py-4">
                    <div class="container d-flex flex-row justify-content-center pb-4 MCH">
                        <span class="fas fa-ice-cream mr-4"></span>
                        <h1>Deserts</h1>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mb-4 MCL">
                        {% for i in key %}
                        {% if i.category == "Deserts" %}
                        <div class="container d-xl-flex flex-row justify-content-between mb-4">
                            <div class="mr-lg-2" id="Image">
                                <img class="img-fluid mb-2" src="/{{i.image}}" alt="pic"/>
                            </div>
                            <div class="container d-flex flex-column" id="Detail">
                                <h3 class="Dh3">{{i.name}}</h3>
                                <p  class="Dp">{{i.description}}</p>
                                <h4 class="Dh4">Rs.{{i.price}}</h4>
                                <div class="row">
                                    <a class="col-5 btn font-weight-bold mt-2 ml-1 mr-3 Da" href="/order/{{i.id}}" onclick="food('{{i.name}}')">Order Now</a>
                                    <a class="col-5 btn font-weight-bold mt-2 Da" href="/ad_to_cart/{{i.id}}" >Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container mb-5" id="Wine_Card">
                <div class="card d-flex flex-column justify-content-between py-4">
                    <div class="container d-flex flex-row justify-content-center pb-4 MCH">
                        <span class="fas fa-wine-glass mr-4"></span>
                        <h1>Wine Card</h1>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mb-4 MCL">
                        {% for i in key %}
                        {% if i.category == "Wine Card" %}
                        <div class="container d-xl-flex flex-row justify-content-between mb-4">
                            <div class="mr-lg-2" id="Image">
                                <img class="img-fluid mb-2" src="/{{i.image}}" alt="pic"/>
                            </div>
                            <div class="container d-flex flex-column" id="Detail">
                                <h3 class="Dh3">{{i.name}}</h3>
                                <p  class="Dp">{{i.description}}</p>
                                <h4 class="Dh4">Rs.{{i.price}}</h4>
                                <div class="row">
                                    <a class="col-5 btn font-weight-bold mt-2 ml-1 mr-3 Da" href="/order/{{i.id}}" onclick="food('{{i.name}}')">Order Now</a>
                                    <a class="col-5 btn font-weight-bold mt-2 Da" href="/ad_to_cart/{{i.id}}" >Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container mb-5" id="Drinks_Tea">
                <div class="card d-flex flex-column justify-content-between py-4">
                    <div class="container d-flex flex-row justify-content-center pb-4 MCH">
                        <span class="fas fa-cocktail mr-4"></span>
                        <h1>Drinks & Tea</h1>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mb-4 MCL">
                        {% for i in key %}
                        {% if i.category == "Drinks & Tea" %}
                        <div class="container d-xl-flex flex-row justify-content-between mb-4">
                            <div class="mr-lg-2" id="Image">
                                <img class="img-fluid mb-2" src="/{{i.image}}" alt="pic"/>
                            </div>
                            <div class="container d-flex flex-column" id="Detail">
                                <h3 class="Dh3">{{i.name}}</h3>
                                <p  class="Dp">{{i.description}}</p>
                                <h4 class="Dh4">Rs.{{i.price}}</h4>
                                <div class="row">
                                    <a class="col-5 btn font-weight-bold mt-2 ml-1 mr-3 Da" href="/order/{{i.id}}" onclick="food('{{i.name}}')">Order Now</a>
                                    <a class="col-5 btn font-weight-bold mt-2 Da" href="/ad_to_cart/{{i.id}}" >Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_link %}
    <script src="{% static 'js/Menu.js' %}"></script>
{% endblock %}