{% extends 'Main.html' %}

{% load static %}

{% block title_link %}
    <title>NamasteDaju Restaurant Menu</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/Menu.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column" id="Menu">
        <div class="container d-flex justify-content-center">
            <h1>Delicious Food For You</h1>
        </div>
        <div class="container d-flex flex-column justify-content-between" id="Breakfast">
            <div class="container-fluid d-flex flex-lg-row justify-content-between">
                <div class="container d-flex justify-content-center">
                    <h1>Delicious Food For You</h1>
                </div>
                <div class="container-fluid d-flex flex-sm-row justify-content-between">
                    <img />
                    <div class="container-fluid d-flex flex-column justify-content-between">
                            <h1></h1>
                            <p></p>
                            <h3></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column justify-content-between" id="Lunch">

        </div>
        <div class="container d-flex flex-column justify-content-between" id="Dinner">

        </div>
        <div class="container d-flex flex-column justify-content-between" id="Desserts">

        </div>
        <div class="container d-flex flex-column justify-content-between" id="Wine Card">

        </div>
        <div class="container d-flex flex-column justify-content-between" id="Drinks & Tea">

        </div>
    </div>
{% endblock %}

{% block script_link%}
        <script src="{% static 'js/Menu.js' %}"></script>
{% endblock %}