{% extends 'Main.html' %}

{% load static %}

{% load bootstrap %}

{% block title_link %}
    <title>NamasteDaju Restaurant Reservation</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/Reservation.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="Front">
        <div class="container-fluid py-4"  id="nav">
            <div class="container" id="navbar">
                <nav class="navbar navbar-expand-lg">
                    <h1><a class="navbar-brand font-weight-bold" href="#">Namaste<span id="navbar_brand_span">Daju</span></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{home}} header_nav_link" href="/Nd/home">Home <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{menu}} header_nav_link" href="/Nd/menu">Menu</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                  <a class="nav-link font-weight-bold {{gallery}} header_nav_link" href="/Nd/gallery">Gallery</a>
                                </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{stories}} header_nav_link" href="/Nd/stories">Stories</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{reservation}} header_nav_link" href="/Nd/reservation">Reservation</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                  <a class="nav-link font-weight-bold {{catering}} header_nav_link" href="/Nd/catering">Catering</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{contact}} header_nav_link" href="/Nd/contact">Contact</a>
                              </li>
                          </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column justify-content-center" id="HM">
            <div class="container d-flex justify-content-center">
                <h1>Reservation</h1>
            </div>
            <div class="container d-flex justify-content-center">
                <h5><a href="/Nd/home">Home <span class="fa fa-chevron-right"></span> </a> Reservation <span class="fa fa-chevron-right"></span></h5>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column py-5" id="Reservation">
        <div class="container d-flex justify-content-center py-sm-5" id="RH">
          <h1>Make Your Own Private Dinner And Happy Hours</h1>
        </div>        
        <div class="container" id="Form">
            <div class="card p-4" id="Card">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <h4 class="success_message py-3 px-1 my-2 text-center">{{message}}</h4>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <h4 class="error_message py-3 px-1 my-2 text-center">{{message}}</h4>
                    {% endif %}
                {% endfor %}
                <form class="form" method="POST">
                    {% csrf_token %}
                    {{form | bootstrap_horizontal}}
                    <div class="d-flex justify-content-center py-2">
                        <button type="submit" class="btn px-4 py-1">Book Table</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/Reservation.js' %}"></script>
{% endblock %}