/*====================AdMenu====================*/
#Cs
{
    color: rgb(0, 187, 40);
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
#AMH h1
{
    color: rgb(0, 187, 40);
    font-family: 'Times New Roman', Times, serif;
}
#Card h4, .help-block
{
    font-family: cursive;
}
.help-block, .success_message
{
    color: rgb(0, 187, 40);
}
.error_message, .help-block
{
    color: red;
}
#Card
{
    border-radius: 15px;
    box-shadow: 0px 5px 20px green;
} 
#Card label
{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#Card input, select
{
    background-image: linear-gradient( rgba(0, 255, 0, 0.1), rgba(0, 255, 0, 0.1) );
    border-radius: 15px;
}
#Card input:hover, select:hover
{
    border: 2px solid rgb(0, 187, 40);
}
#Card button, #AMB
{
    color: white;
    font-weight: bold;
    background-color:green;
    text-decoration: none;
    border-radius: 10px;
}
#Card button:hover, #AMB:hover
{
    color: rgb(0, 187, 40);
    background-color: transparent;
    border: 2px solid rgb(0, 187, 40);
}
#Table h1, th, td
{
    font-family: 'Times New Roman', Times, serif;
}
#Table th
{
    font-size: 22px;
}
#Table td
{
    font-size: 18px;
}
#Table td a
{
    color: black;
    font-size: 18px;
}
#Table img
{
    height: 100px;
    border-radius: 10px;
}
#Breakfast
{
    box-shadow: 0px 5px 20px orange;
}
#Bh1
{
    color: orange;
}
#Lunch
{
    box-shadow: 0px 5px 20px green;
}
#Lh1
{
    color: green;
}
#Dinner
{
    box-shadow: 0px 5px 20px brown;
}
#Dnh1
{
    color: brown;
}
#Deserts
{
    box-shadow: 0px 5px 20px purple;
}
#Dsh1
{
    color: purple;
}
#Wine_Card
{
    box-shadow: 0px 5px 20px red;
}
#Wh1
{
    color: red;
}
#Drinks_Tea
{
    box-shadow: 0px 5px 20px olive;
}
#Dth1
{
    color: olive;
}
/*====================AdMenu====================*/

/*====================Copyright====================*/
#Copyright 
{
    background-color: black;
}
#Copyright p
{
    font-size: 18px;
    color: #c9c9c9;
}
#Copyright p a
{
    color: white;
    text-decoration: none;
}
/*====================Copyright====================*/