/*====================AUOC====================*/
#AUOC
{
    padding: 100px 0 100px 0;
}
#AUOC .heading
{
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
#AUOC ul
{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#AUOC ul li
{
    margin-bottom: 10px;
}
#AUOC ul li a
{
    color: #adadad;
    text-decoration: none;
}
#AUOC ul li a:hover
{
    color:rgb(0, 0, 187);
}
#AUOC #About1 p
{
    color: #adadad;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#AUOC #About1 #Icons a
{
    color: white;
    font-size: 25px;
}
#AUOC #About1 #Icons a:hover
{
    color: rgb(0, 0, 187);
}
/*====================AUOC====================*/

/*====================Copyright====================*/
#Copyright p
{
    font-size: 18px;
    color: #adadad;
}
#Copyright p a
{
    color: white;
    text-decoration: none;
}
/*====================Copyright====================*/