/*====================Front====================*/
#Front
{
    position: relative;
    padding:0;
    height: 650px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) ,url("../images/home/a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Front #nav
{
    position: absolute;
    z-index: 2000;
}
#Front #nav #navbar
{
    background-image: linear-gradient( rgba(0, 14, 209, 0.2), rgba(0, 14, 209, 0.2) );
    border-radius: 15px;
}
#Front .navbar-brand
{
    font-size: 25px;
    color:  rgb(0, 0, 187);
    font-family: cursive;
}
#Front .navbar-brand:hover
{
    color:  rgb(0, 0, 187);
}
#Front nav h1 span
{
    color: white;
}
#Front .nav-link
{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    position:relative;
}
#Front .nav-link:hover
{
    color:rgb(0, 0, 187);
}
#Front #navbarSupportedContent .selected
{
    color: rgb(0, 0, 187);
}
#Front .nav-link:after
{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    right: 0;
    background: white;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}
#Front .nav-link:hover:after
{
    width: 100%;
    left: 0;
    background: white;
}
#HM
{
    padding-top: 550px;
}
#HM h1
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#HM h5
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#HM h5 a
{
    color: white;
    text-decoration: none;
}
#HM h5 a:hover
{
    color: rgb(0, 0, 187);
}
/*====================Front====================*/

/*====================Gallery====================*/
#GH h1
{
    color: rgb(0, 0, 187);
    font-family: 'Times New Roman', Times, serif;
}
#GI div:hover
{
    z-index: 2000;
}
#GI .img
{
    height: 300px;
    transition: 1s;
}
#GI .img:hover 
{
    box-shadow: 0px 5px 20px blue;
    transform: scale(1.3);
}
/*====================Gallery====================*/
