/*====================Front====================*/
#Front
{
    position: relative;
    padding:0;
    height: 650px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) ,url("../images/home/a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Front #nav
{
    position: absolute;
    z-index: 2000;
}
#Front #nav #navbar
{
    background-image: linear-gradient( rgba(0, 14, 209, 0.2), rgba(0, 14, 209, 0.2) );
    border-radius: 15px;
}
#Front .navbar-brand
{
    font-size: 25px;
    color:  rgb(0, 0, 187);
    font-family: cursive;
}
#Front .navbar-brand:hover
{
    color:  rgb(0, 0, 187);
}
#Front nav h1 span
{
    color: white;
}
#Front .nav-link
{
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    position:relative;
}
#Front .nav-link:hover
{
    color:rgb(0, 0, 187);
}
#Front #navbarSupportedContent .selected
{
    color: rgb(0, 0, 187);
}
#Front .nav-link:after
{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    right: 0;
    background: white;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
}
#Front .nav-link:hover:after
{
    width: 100%;
    left: 0;
    background: white;
}
#HM
{
    padding-top: 550px;
}
#HM h1
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#HM h5
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#HM h5 a
{
    color: white;
    text-decoration: none;
}
#HM h5 a:hover
{
    color: rgb(0, 0, 187);
}
/*====================Front====================*/

/*====================Menu====================*/
#MH h1
{
    color: rgb(0, 0, 187);
    font-family: 'Times New Roman', Times, serif;
}
#Breakfast .card
{
    box-shadow: 0px 5px 20px orange;
}
#Breakfast .MCH span, #Breakfast .MCH h1
{
    color: orange;
}
#Detail
{
    border-radius: 10px;
}
#Breakfast #Detail:hover
{
    transition: 1s;
    background-color: orange;
}
#Lunch .card
{
    box-shadow: 0px 5px 20px green;
}
#Lunch .MCH span, #Lunch .MCH h1
{
    color: green;
}
#Lunch #Detail:hover
{
    transition: 1s;
    background-color: green;
}
#Dinner .card
{
    box-shadow: 0px 5px 20px brown;
}
#Dinner .MCH span, #Dinner .MCH h1
{
    color: brown;
}
#Dinner #Detail:hover
{
    transition: 1s;
    background-color: brown;
}
#Deserts .card
{
    box-shadow: 0px 5px 20px purple;
}
#Deserts .MCH span, #Deserts .MCH h1
{
    color: purple;
}
#Deserts #Detail:hover
{
    transition: 1s;
    background-color: purple;
}
#Wine_Card .card
{
    box-shadow: 0px 5px 20px red;
}
#Wine_Card .MCH span, #Wine_Card .MCH h1
{
    color: red;
}
#Wine_Card #Detail:hover
{
    transition: 1s;
    background-color: red;
}
#Drinks_Tea .card
{
    box-shadow: 0px 5px 20px olive;
}
#Drinks_Tea .MCH span, #Drinks_Tea .MCH h1
{
    color: olive;
}
#Drinks_Tea #Detail:hover
{
    transition: 1s;
    background-color: olive;
}
.MCH span
{
    font-size: 40px;
}
.MCH h1
{
    font-family: 'Times New Roman', Times, serif;
}
.MCL #Image
{
    overflow: hidden;
}
.MCL #Image img
{
    width: 300px;
    transition: 2s ease;
}
.MCL #Image img:hover
{
    transform: scale(1.4);
}
#Detail a
{
    display: none;
}
#Detail:hover a
{
    display: block;
    width: 120px;
    border-radius: 20px;
}
/*====================Menu====================*/