{% extends 'Main.html' %}

{% load static %}

{% load bootstrap %}

{% block title_link %}
    <title>NamasteDaju Restaurant User Profile</title>
{% endblock %}

{% block css_link %}
    <link href="{% static 'css/Profile.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="Front">
        <div class="container-fluid py-4"  id="nav">
            <div class="container" id="navbar">
                <nav class="navbar navbar-expand-lg">
                    <h1><a class="navbar-brand font-weight-bold" href="#">Namaste<span id="navbar_brand_span">Daju</span></a></h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{home}} header_nav_link" href="/">Home <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{menu}} header_nav_link" href="/menu">Menu</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                  <a class="nav-link font-weight-bold {{gallery}} header_nav_link" href="/gallery">Gallery</a>
                                </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{stories}} header_nav_link" href="/stories">Stories</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{reservation}} header_nav_link" href="/reservation">Reservation</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                  <a class="nav-link font-weight-bold {{catering}} header_nav_link" href="/catering">Catering</a>
                              </li>
                              <li class="nav-item mx-sm-1">
                                <a class="nav-link font-weight-bold {{contact}} header_nav_link" href="/contact">Contact</a>
                              </li>
                          </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container-fluid d-flex flex-column justify-content-center" id="HM">
            <div class="container d-flex justify-content-center">
                <h1>Profile</h1>
            </div>
            <div class="container d-flex justify-content-center">
                <h5><a href="/">Home <span class="fa fa-chevron-right"></span> </a> Profile <span class="fa fa-chevron-right"></span></h5>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column py-5" id="Profile">
        <div class="container d-flex justify-content-center" id="PH">
          <h1>NamasteDaju Restaurant User Profile</h1>
        </div>        
        <div class="container-fluid d-xl-flex flex-row justify-contenet-between">
            <div class="container">
                <div class="container d-flex justify-content-center" id="H">
                    <h1>Current Details</h1>
                </div>  
                <div class="card p-4" id="CCard">
                    <div class="container-fluid d-flex justify-content-center">
                        <img class="img-fluid profile_pic" src="{{request.user.profile.profile_pic.url}}">
                    </div>
                    <div class="card-body">                      
                        <h3 class="py-2 text-center CCh3">FirstName: {{request.user.profile.firstname}}</h3>
                        <h3 class="py-2 text-center CCh3">LastName: {{request.user.profile.lastname}}</h3>
                        <h3 class="py-2 text-center CCh3">Email: {{request.user.profile.email}}</h3>
                        <h3 class="py-2 text-center CCh3">Phone: {{request.user.profile.phone}}</h3>
                        <h3 class="py-2 text-center CCh3">Gender: {{request.user.profile.gender}}</h3>
                    </div>
                </div>
            </div>
            <div class="container" id="Form">
                <div class="container d-flex justify-content-center" id="H">
                    <h1>Update Details</h1>
                </div>  
                <div class="card p-4" id="Card">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <h4 class="success_message py-3 px-1 my-2 text-center">{{message}}</h4>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <h4 class="error_message py-3 px-1 my-2 text-center">{{message}}</h4>
                        {% endif %}
                    {% endfor %}
                    <form class="form" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form | bootstrap_horizontal}}
                        <div class="d-flex justify-content-center py-2 mb-3">
                            <button type="submit" class="btn px-4 py-1">Update Profile</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <small id="emailHelp" class="form-text font-weight-bold m-0">Want to change password!</small>
                        </div>
                        <div class="d-flex justify-content-center py-2 mb-3">
                            <a href="/Ac/password_change" class="btn px-4">Change Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_link %}
        <script src="{% static 'js/Profile.js' %}"></script>
{% endblock %}