<div class="container-fluid d-lg-flex flex-lg-row justify-content-around px-lg-5" id="AUOC">
    <div id="About1">
      <h3 class="font-weight-bold heading">NamasteDaju restaurant</h3>
      <p>
        Keep in touch with us. <br/>
        Be updated with our menus, <br/>
        services, taste and flavors <br/>
        of our food. Follow us in <br/>
        the social medias.
      </p>
      <div class="fa_icon mt-4" id="Icons">
        <a href="#facebook" class="facebook mr-sm-3"><span class="fab fa-facebook-f"></span></a>
        <a href="#twitter" class="twitter mr-sm-3"><span class="fab fa-twitter"></span></a>
        <a href="#instagram" class="instagram mr-sm-3"><span class="fab fa-instagram"></span></a>
        <a href="#linkedin" class="linkedin mr-sm-3"><span class="fab fa-linkedin"></span></a>
        <a href="#youtube" class="youtube mr-sm-3"><span class="fab fa-youtube"></span></a>
      </div>
    </div>
    <div id="Useful Links">
        <h3 class="font-weight-bold heading">Useful Links</h3>
        <ul class="p-0">
          <li><a href="/Nd/home">Home</a></li>
          <li><a href="/Nd/menu">Menu</a></li>
          <li><a href="/Nd/gallery">Gallery</a></li>
          <li><a href="/Nd/stories">Stories</a></li>
          <li><a href="/Nd/reservation">Reservation</a></li>
          <li><a href="/Nd/catering">Catering</a></li>
          <li><a href="/Nd/contact">Contact</a></li>
        </ul>
      </div>
    <div id="OpenHours">
        <h3 class="font-weight-bold heading">Open Hours</h3>
        <ul class="p-0">
            <li><a href="index.html">Monday......................Closed</a></li>
            <li><a href="about.html">Tue-Fri..............10am-12pm</a></li>
            <li><a href="services.html">Sat-Sun...............8am-11pm</a></li>
            <li><a href="blog.html">Holidays.............10am-12pm</a></li>
        </ul>
    </div>
    <div id="Contact Us">
      <h3 class="font-weight-bold heading">Contact Us</h3>
      <ul class="p-0">
        <li><a href="" class="mx-0 my-0"><span class="fas fa-map-marker-alt mr-2"></span>NamasteDaju 1st Floor, Chhaya Center, Kathmandu</a></li>
        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone mr-2"></span> +(21)-255-999-8888</a></li>
        <li><a href="mailto:Agricfarm@mail.com" class="mail"><span class="fa fa-envelope mr-2"></span>NamasteDaju@mail.com</a></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center py-2" id="Copyright">
    <p>Copyright ©2021 All rights reserved. Design by <a href="#">Gauri Shankar Sharma</a></p>
  </div>